.nav-social {
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}
.nav-social > li {
  position: relative;
  display: block;
}

.nav-social > li > a {
  position: relative;
  display: block;
  padding: 14px 2px;
}

.terminal {
  width: 700px;
  background-color: black;
  color: white;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  margin-bottom: 20px;
}

.terminal > pre {
  width: 700px;
  background-color: black;
  color: white;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  margin-bottom: 20px;
}